body {margin: 0; padding: 0;} .cesium-infoBox-description {font-family: sans-serif; font-size: 13px; color: #31323c;} .cesium-infoBox-description a:link,a:visited,a:hover,a:active {color: #31323c;} .cesium-infoBox-description table {color: #31323c;} .cesium-infoBox-defaultTable {width: 100%; color: #31323c;} .cesium-infoBox-defaultTable tr:nth-child(odd) {background-color: rgba(84, 84, 84, 0.8);} .cesium-infoBox-defaultTable tr:nth-child(even) {background-color: rgba(84, 84, 84, 0.25);} .cesium-infoBox-defaultTable th {font-weight: normal; padding: 3px; vertical-align: middle; text-align: center;} .cesium-infoBox-defaultTable td {padding: 3px; vertical-align: middle; text-align: left;} .cesium-infoBox-description-lighter {color: #000000;} .cesium-infoBox-description-lighter a:link,a:visited,a:hover,a:active {color: #000000;} .cesium-infoBox-description-lighter table {color: #000000;} .cesium-infoBox-defaultTable-lighter {width: 100%; color: #000000;} .cesium-infoBox-defaultTable-lighter tr:nth-child(odd) {background-color: rgba(179, 179, 179, 0.8);} .cesium-infoBox-defaultTable-lighter tr:nth-child(even) {background-color: rgba(179, 179, 179, 0.25);}

		body {
			text-shadow: 0 0 5px rgba(0,0,0,0.9),
			0 0 1em rgba(0,0,0,0.9);
			background-color:#aaa;
		}
        
        h1 {
            display:none;
        }
        
        div {
            width:100%;
            color:#eee;
            margin:0;
            padding:0;
        }
        
        .balloon_blue {
            color:#e4faff;
        }
        
        .balloon_red {
            color:#ffe4e4;
        }
        
        .balloon_green {
            color:#e4ffe5;
        }
        
        .balloon_yellow {
            color:#feffcf;
        }
        
        .balloon_purple {
            color:#fee4fe;
        }
        
        .id {
            display:none;
        }
        
        .category {
            font-size:14px;
            text-align:center;
            color:#eee;
            z-index:100;
			padding:0px;
			margin:0px;
			height:24px;
        }
        
        .description {
            font-size:32px;
            line-height:1.4em;
            text-align:center;
            z-index:101;
			padding:0px;
			margin:0px;
        }

        .tweet {
            font-size:30px;
            line-height:44px;
            text-align:justify;
        }
        
        .lonLat {
            display:none;
        }
        
        .credit {
            font-size:14px;
            text-align:center;
            color:#eee;
            z-index:100;
			padding:0px;
			margin:0px;
			height:24px;
        }
        
        #routeButton {
            display:none;
        }